.body {
	background-color: pink;
}
.header {
	position: absolute;
	top: -10%;
	left: 30%;
	margin: 100px;
}

.container{
	background-color: pink;
	display: flex;
	width: 1000px;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: space-around;
	margin: 100px;
}

.item-1{
	background-color: red;
	flex: 1;
	color: white;
	order: 4;
}

.item-2{
	background-color: green;
	flex: 1;
	color: white;
	order: 1;
}

.item-3{
	background-color: blue;
	flex: 1;
	color: white;
	order: 2;
}

.item-4{
	background-color: orange;
	flex: 1;
	color: white;
	order: 3;
}

.item-5{
	background-color: orange;
	flex: 1;
	color: white;
	order: 3;
}


.item-6{
	background-color: orange;
	flex: 1;
	color: white;
	order: 3;
}


.item-7{
	background-color: orange;
	flex: 1;
	color: white;
	order: 3;
}

.container2{
	background-color: pink;
	display: flex;
	width: 1000px;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: space-around;
	margin: 100px;
}

.item-8{
	background-color: red;
	flex: 1;
	color: white;
	order: 4;
}

.item-9{
	background-color: green;
	flex: 1;
	color: white;
	order: 1;
}

.item-10{
	background-color: blue;
	flex: 1;
	color: white;
	order: 2;
}

.item-11{
	background-color: orange;
	flex: 1;
	color: white;
	order: 3;
}

.item-12{
	background-color: orange;
	flex: 1;
	color: white;
	order: 3;
}


.item-13{
	background-color: orange;
	flex: 1;
	color: white;
	order: 3;
}


.item-14{
	background-color: orange;
	flex: 1;
	color: white;
	order: 3;
}



