
@keyframes rotate {
	from{transform: rotate(0);}
	to{transform: rotate(1turn);}
}
#moving{
	position: fixed;
	top:60%;
	left:50%;
	opacity:50%;
	scale: 5.0;
	width: 5px;
	height: 150px;
	background-color: white;
	animation: rotate 1s infinite
}

.container{
	text-align: center;
	font-family:monospace;
	padding: 10px;
}

#date {
	font-size: 0.5em;
}
#hour {
	font-size: 3em;
}
#minutes {
	font-size: 3em;
}
#seconds {
	font-size: 3em;
}

.clock{
  padding: 500px;
  color:white;
  width: auto;
  height: 100px;
  margin: 5px auto;
  border: 2px solid black;
  border-radius: 10px;
  background-image: url("https://i.imgur.com/Rz14122.jpg");

